

body{
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center ;
    height: 100vh;
    justify-content: center;
}

.playlistContainer{
    margin-bottom:  30px;
}

.trackItem {
    color: yellow;
    font-size: 20px;
    border-bottom: 1px solid #6c757d;
    padding: 10px 0px;
    cursor: pointer;
    user-select: none;
}

.musicPlayer{
    display: flex;
    flex-direction: row;
}

.currentAndTotalTime{
    color: white;
}

#progressBar{
    width: 500px;
    height: 5px;
    background-color: gainsboro;
}

#currentProgress{
    width: 0px;
    height: 100%;
    background-color: red;
}

.controls{
    font-size: 30px;
    color: white;
    margin: 20px 40px;
    cursor: pointer;

}

.pauseButton{
    display: none;
}

