body{
    background-color: black;
}

.container{
    margin-top: 100px;
    margin-left: 200px;
}

.tabMenus{
    position: relative;
}

ul{
    margin: 0;
    padding:0;
}

li{
    list-style: none;
    color: white;
    display: inline-block;
    background-color: red;
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
}

.slide{
    height: 5px;
    background-color: greenyellow;
    transition: all 0.5s ease-in-out;
}